<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  <link
      rel="stylesheet"
      href="{{ "quote_popup.css" | asset_url }}"
    />
    
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      let fleece = "{{ product.metafields.custom.fleece }}";
      let design_files ="{{product.metafields.custom.design_files}}";
    </script>
    <script
      src="{{ "quote_popup_js.js" | asset_url }}"
    ></script>
    <script type="application/json" id="product_json">{{ product | json }}</script>
    <script id="stock_json">
      let variantStock = {};
      {% for variant in product.variants %}
        variantStock[{{- variant.id -}}] = {{ variant.inventory_quantity }};
      {% endfor %}
    </script>

    <div class="modal pricing-modal" id="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <div class="modal-body">
            <ul
              class="nav nav-pills justify-content-center mb-3"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="pills-design-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-design"
                  type="button"
                  role="tab"
                  aria-controls="pills-design"
                  aria-selected="true"
                >
                  <span class="d-md-none">1 - Design</span>
                  <span class="d-none d-md-block">1 - Design & Ink Colors</span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="pills-qty-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-qty"
                  type="button"
                  role="tab"
                  aria-controls="pills-qty"
                  aria-selected="false"
                  disabled
                >
                  <span class="d-md-none">2 - Products</span>
                  <span class="d-none d-md-block">2 - Choose Qty & Colors</span>
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="pills-review-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-review"
                  type="button"
                  role="tab"
                  aria-controls="pills-review"
                  aria-selected="false"
                  disabled
                >
                  <span class="d-md-none">3 - Price</span>
                  <span class="d-none d-md-block">3 - Review Pricing</span>
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-design"
                role="tabpanel"
                aria-labelledby="pills-design-tab"
              >
                <h2 class="title-text">
                  Upload Your Design & Choose Print Options”
                </h2>
                <p class="text-muted text-small">
                  Upload your design if available now (or skip) & choose the
                  number of colors and choose the number of ink colors for each
                  side
                </p>
                <hr />
                <div class="step-content">
                  <p class="file-note">Upload Design (OPTIONAL) - OR Submit Design After Completing your Order Via Email</p>
                  <div class="file-upload">
                    Drag & Drop Artwork Files or <br />
                    <div class="fileUpload btn btn-file">
                      <span>Choose file(s)</span>
                      <input
                        id="imageUpload"
                        name="imageUpload"
                        type="file"
                        multiple
                        class="upload mt-3"
                        onchange="PreviewImage()"
                      />
                    </div>
                    <div class="preview_file"></div>
                    <img id="uploadPreview" alt="" />
                  </div>
                  <p class="file-size text-muted text-small">Maximum File Size Allowed 20MB.</p>
                  <div class="file-description">
                    <p>
                      <strong>
                        Upload ANY file type, but we prefer vector, high-res, or
                        large files such as:
                      </strong>
                    </p>

                    <div class="file-format">.AI</div>
                    <div class="file-format">.EPS</div>
                    <div class="file-format">.PDF</div>
                    <div class="file-format">.TIFF</div>
                    <div class="file-format">.PSD</div>
                    <div class="file-format">.JPG</div>
                    <div class="file-format">.JPEG</div>
                    <div class="file-format">.PNG</div>
                  </div>

                  <hr />

                  <div class="choose-type">
                    <p>
                      <strong>
                        Type of print?
                        <span
                          class="material-symbols-outlined"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Tooltip on bottom"
                        >
                          info
                        </span>
                      </strong>
                    </p>
                    {% if product.metafields.custom.screen_printing %}
                    <label for="type1">
                      <input
                        type="radio"
                        name="type"
                        id="type1"
                        value="screen"
                        {% unless product.metafields.custom.screen_printing %}disabled{% endunless %}
                        onchange="chooseTypeOfPrint('screen')"
                        checked
                      />
                      Screen Printing
                    </label>
                    {% endif %}

                    {% if product.metafields.custom.embroidery %}
                    <label for="type2">
                      <input
                        type="radio"
                        name="type"
                        id="type2"
                        value="embroidery"
                        {% unless product.metafields.custom.embroidery %}disabled{% endunless %}
                        onchange="chooseTypeOfPrint('embroidery')"
                      />
                      Embroidery
                    </label>
                    {% endif %}

                    {% if product.metafields.custom.dtg %}
                    <label for="type3">
                      <input
                        type="radio"
                        name="type"
                        id="type3"
                        value="DTG"
                        {% unless product.metafields.custom.dtg %}disabled{% endunless %}
                        onchange="chooseTypeOfPrint('DTG')"
                      />
                      DTG (Direct to Garment)
                    </label>
                    {% endif %}

                    {% if product.metafields.custom.engraved %}
                    <label for="type4">
                      <input
                        type="radio"
                        name="type"
                        id="type4"
                        value="Engraved"
                        {% unless product.metafields.custom.engraved %}disabled{% endunless %}
                        onchange="chooseTypeOfPrint('Engraved')"
                      />
                      Engraved
                    </label>
                    {% endif %}
                  </div>
                  <p id="ads" class="choose-type text-muted text-small">Screen Printed is Best for Bulk Orders</p>
                  <div class="choose-colors" id="choose-colors">
                    <p><strong>How many colors are in your design?</strong></p>
                    <p id="subtxt" class="text-muted text-small">
                      Colors count in screen-printing because each color requires a unique screen. Save money by reducing ink colors with one or two colors per side.
                    </p>
                     <div class="invalid-feedback" style="margin-bottom: 14px;margin-top: -10px;">Atleast one color required.</div>
                    <div class="row">
                      <div class="col-6">
                        <select
                          name="colorFront"
                          id="colorFront"
                          onchange="chooseColorsFront(this.value)"
                        >
                          <option value="0">No Design - Front</option>
                          <option value="1">1 color front</option>
                          <option value="2">2 colors front</option>
                          <option value="3">3 colors front</option>
                          <option value="4">4 colors front</option>
                          <option value="5">5 colors front</option>
                          <option value="6">6 colors front</option>
                          <option value="7">7 colors front</option>
                          <option value="8">8 colors front</option>
                        </select>
<!--                         <div class="invalid-feedback">Atleast one color required.</div> -->
                      </div>
                      <div class="col-6">
                        <select
                          name="colorBack"
                          id="colorBack"
                          onchange="chooseColorsBack(this.value)"
                        >
                          <option value="0">No Design - Back</option>
                          <option value="1">1 color back</option>
                          <option value="2">2 colors back</option>
                          <option value="3">3 colors back</option>
                          <option value="4">4 colors back</option>
                          <option value="5">5 colors back</option>
                          <option value="6">6 colors back</option>
                          <option value="7">7 colors back</option>
                          <option value="8">8 colors back</option>
                        </select>
<!--                         <div class="invalid-feedback">Atleast one color required.</div> -->
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-6">
                        <select
                          name="sleeveLeft"
                          id="sleeveLeft"
                          onchange="chooseSleeveLeft(this.value)"
                        >
                          <option value="0">No Design - Sleeve Left</option>
                          <option value="1">1 sleeve printing left</option>
                          <option value="2">2 sleeve printings left</option>
                          <option value="3">3 sleeve printings left</option>
                          <option value="4">4 sleeve printings left</option>
                          <option value="5">5 sleeve printings left</option>
                          <option value="6">6 sleeve printings left</option>
                          <option value="7">7 sleeve printings left</option>
                          <option value="8">8 sleeve printings left</option>
                        </select>
<!--                         <div class="invalid-feedback">Atleast one color required.</div> -->
                      </div>
                      <div class="col-6">
                        <select
                          name="sleeveRight"
                          id="sleeveRight"
                          onchange="chooseSleeveRight(this.value)"
                        >
                          <option value="0">No Design - Sleeve Right</option>
                          <option value="1">1 sleeve printing right</option>
                          <option value="2">2 sleeve printings right</option>
                          <option value="3">3 sleeve printings right</option>
                          <option value="4">4 sleeve printings right</option>
                          <option value="5">5 sleeve printings right</option>
                          <option value="6">6 sleeve printings right</option>
                          <option value="7">7 sleeve printings right</option>
                          <option value="8">8 sleeve printings right</option>
                        </select>
<!--                         <div class="invalid-feedback">Atleast one color required.</div> -->
                      </div>
                    </div>
                  </div>

                  <div class="choose-colors d-none" id="choose-embroidery-colors">
                    <p><strong>How many colors are in your design?</strong></p>
                    <p id="subtxt" class="text-muted text-small">
                      Colors count in screen-printing because each color requires a unique screen. Save money by reducing ink colors with one or two colors per side.
                    </p>
                     <div class="invalid-feedback" style="margin-bottom: 14px;margin-top: -10px;">Atleast one color required.</div>
                    <div class="row">
                      <div class="col-6">
                        <select
                          name="colorchestFront"
                          id="colorchestFront"
                        >
                          <!--option value="0">No Design - Chest Front</option-->
                          <option value="1">1 color chest front</option>
                          <option value="2">2 colors chest front</option>
                          <option value="3">3 colors chest front</option>
                          <option value="4">4 colors chest front</option>
                          <option value="5">5 colors chest front</option>
                          <option value="6">6 colors chest front</option>
                          <option value="7">7 colors chest front</option>
                          <option value="8">8 colors chest front</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <select
                          name="thread_count"
                          id="thread_count"
                        >
                          <option value="4000">Low Detail Design</option>
                          <option value="13001">High Detail Design</option>
                          <!--option value="4000">4000 Stitches</option>
                          <option value="7000">7000 Stitches</option>
                          <option value="10000">10000 Stitches</option>
                          <option value="13000">13000 Stitches</option>
                          <option value="13001">13000+ Stitches</option-->
                        </select>
                      </div>
                    </div>
                  </div>
                  
<!--        new feature            -->
                        <div class="choose-print_locations d-none">
                    <p data-open-accessibility-text-original="15px" style="font-size: 15px;"><strong>Which Print Locations would you like?</strong></p>
                    <div class="row">
                     <label for="locations1">
                        <input type="radio" name="locations" id="locations1" checked="checked" value="1"  data-function="Full-Front">
                         Full Front Design - ONE OR OTHER
                     </label>
                     <label for="locations2">
                        <input type="radio" name="locations" id="locations2" value="1"  data-function="Chest-Pocket"> 
                        Chest Pocket - ONE OR OTHER 
                     </label>   
                      <hr>
                         <label for="locations_box1">
                          <input type="checkbox" name="locations1" value="1" id="locations_box1"  data-function="Full-Back">
                          Full Back Design
                       </label>
                         <!--label for="locations_box2">
                          <input type="checkbox" name="locations1" value="1" id="locations_box2"  data-function="Left-Sleeve">
                          Left Sleeve 
                       </label>                
                       <label for="locations_box3">
                        <input type="checkbox" name="locations1" value="1" id="locations_box3"  data-function="Right-Sleeve">
                        Right Sleeve
      </label--> 
                    </div>
                  </div>
<!--        new feature            -->
                  <button
                    id="step2-btn"
                    class="btn-next"
                  >
                    Choose Qty & Colors
                    <span class="material-symbols-outlined">
                      arrow_forward
                    </span>
                  </button>
                  <!-- <div
                    id="step2-error-text"
                    class="text-muted text-center mt-1"
                  >
                    Please select all colors first
                  </div> -->
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-qty"
                role="tabpanel"
                aria-labelledby="pills-qty-tab"
              >
                <h2 class="title-text">
                  <span
                    class="material-symbols-outlined"
                    onclick="bootstrap.Tab.getOrCreateInstance('#pills-design-tab').show()"
                  >
                    arrow_back
                  </span>
                  Choose Quantity & Sizes
                </h2>
                <p class="text-muted text-small">
                  Enter quantities to calculate the price. Save money by
                  increasing quantity and reducing ink colors on your design.
                </p>
                <hr />
                <div class="color-picker">
                  <p class="selected-color">Select Product Colors:</p>

                  <div class="colors-list">
                    {% if product.options.size > 0 %}
                        {% for q_option in product.options_by_name['Color'].values %}
                          {% assign color_position = product.options_by_name['Color'].position | prepend:"option" %}
                          {% assign p_variants = product.variants | where:color_position, q_option %}
                          {% assign v_img = p_variants.first.featured_image | default: product.featured_image %}
                          <span
                            p_variants="{{ p_variants.first.id }}"
                            id="color{{ forloop.index }}"
                            class="color-item "
                            data-color="{{ q_option }}"
                            style="background-color: {{ q_option }}"
                            onclick="addColorItem('{{ product.title }}', '{{ q_option }}', '{{ v_img | img_url:"150x" }}', this)"
                          ></span>
                        {% endfor %}
                    {% endif %}
                    {% comment %}
                    <span
                      id="color1"
                      class="color-item"
                      style="background-color: #fff"
                      onclick="addColorItem('G807 Gildan DryBlend T-Shirt', 'White', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color2"
                      class="color-item"
                      style="background-color: #dbdddc"
                      onclick="addColorItem('G806 Gildan DryBlend T-Shirt', 'Grey', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color3"
                      class="color-item"
                      style="background-color: #b2abb3"
                      onclick="addColorItem('G805 Gildan DryBlend T-Shirt', 'Beige', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color4"
                      class="color-item"
                      style="background-color: #606671"
                      onclick="addColorItem('G804 Gildan DryBlend T-Shirt', 'Dark Grey', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color5"
                      class="color-item"
                      style="background-color: #5a5657"
                      onclick="addColorItem('G803 Gildan DryBlend T-Shirt', 'Brown', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color6"
                      class="color-item"
                      style="background-color: #131619"
                      onclick="addColorItem('G802 Gildan DryBlend T-Shirt', 'Black', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color7"
                      class="color-item"
                      style="background-color: #b2000c"
                      onclick="addColorItem('G801 Gildan DryBlend T-Shirt', 'Red', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color8"
                      class="color-item"
                      style="background-color: #630928"
                      onclick="addColorItem('G800 Gildan DryBlend T-Shirt', 'Red Brown', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color9"
                      class="color-item"
                      style="background-color: #f73e86"
                      onclick="addColorItem('G809 Gildan DryBlend T-Shirt', 'Pink', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color10"
                      class="color-item"
                      style="background-color: #420c24"
                      onclick="addColorItem('G808 Gildan DryBlend T-Shirt', 'Dark Brown', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color11"
                      class="color-item"
                      style="background-color: #f2c2db"
                      onclick="addColorItem('G807 Gildan DryBlend T-Shirt', 'Pink Light', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color12"
                      class="color-item"
                      style="background-color: #4d2379"
                      onclick="addColorItem('G806 Gildan DryBlend T-Shirt', 'Purple', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color13"
                      class="color-item"
                      style="background-color: #003296"
                      onclick="addColorItem('G805 Gildan DryBlend T-Shirt', 'Blue', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color14"
                      class="color-item"
                      style="background-color: #20304a"
                      onclick="addColorItem('G804 Gildan DryBlend T-Shirt', 'Dark Blue', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color15"
                      class="color-item"
                      style="background-color: #a9bdd8"
                      onclick="addColorItem('G803 Gildan DryBlend T-Shirt', 'Light Blue', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color16"
                      class="color-item"
                      style="background-color: #5689b9"
                      onclick="addColorItem('G802 Gildan DryBlend T-Shirt', 'Soft blue', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color17"
                      class="color-item"
                      style="background-color: #0088b7"
                      onclick="addColorItem('G801 Gildan DryBlend T-Shirt', 'Blue', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color18"
                      class="color-item"
                      style="background-color: #008065"
                      onclick="addColorItem('G800 Gildan DryBlend T-Shirt', 'Green', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color19"
                      class="color-item"
                      style="background-color: #00802b"
                      onclick="addColorItem('G809 Gildan DryBlend T-Shirt', 'Green', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color20"
                      class="color-item"
                      style="background-color: #0d3a15"
                      onclick="addColorItem('G808 Gildan DryBlend T-Shirt', 'Dark Green', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color21"
                      class="color-item"
                      style="background-color: #7cc74a"
                      onclick="addColorItem('G807 Gildan DryBlend T-Shirt', 'Light Green', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color22"
                      class="color-item"
                      style="background-color: #ccf337"
                      onclick="addColorItem('G806 Gildan DryBlend T-Shirt', 'Lime', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color23"
                      class="color-item"
                      style="background-color: #414623"
                      onclick="addColorItem('G805 Gildan DryBlend T-Shirt', 'Dark Green', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color24"
                      class="color-item"
                      style="background-color: #ffe642"
                      onclick="addColorItem('G804 Gildan DryBlend T-Shirt', 'Yellow', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color25"
                      class="color-item"
                      style="background-color: #ffcc00"
                      onclick="addColorItem('G803 Gildan DryBlend T-Shirt', 'Dark Yellow', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color26"
                      class="color-item"
                      style="background-color: #fdf5df"
                      onclick="addColorItem('G800 Gildan DryBlend T-Shirt', 'White', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color27"
                      class="color-item"
                      style="background-color: #c5baa1"
                      onclick="addColorItem('G801 Gildan DryBlend T-Shirt', 'Grey', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color28"
                      class="color-item"
                      style="background-color: #ff9e2c"
                      onclick="addColorItem('G802 Gildan DryBlend T-Shirt', 'Orange', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color29"
                      class="color-item"
                      style="background-color: #2c1c0a"
                      onclick="addColorItem('G808 Gildan DryBlend T-Shirt', 'Black', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color30"
                      class="color-item"
                      style="background-color: #f37827"
                      onclick="addColorItem('G804 Gildan DryBlend T-Shirt', 'Orange', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    <span
                      id="color31"
                      class="color-item"
                      style="background-color: #ec592f"
                      onclick="addColorItem('G806 Gildan DryBlend T-Shirt', 'Orange', 'img/shirt-placeholder.jpeg', this)"
                    ></span>
                    {% endcomment %}
                  </div>
                </div>
                <div class="products-list" id="products-list"></div>

                <button
                  id="step3-btn"
                  class="btn-next"
                  onclick="bootstrap.Tab.getOrCreateInstance('#pills-review-tab').show()"
                  disabled
                >
                  Calculate Pricing
                  <span class="material-symbols-outlined"> arrow_forward </span>
                </button>
                <div id="step3-error-text" class="text-muted text-center mt-1">
                  Select at least <span id="minimalqty">12</span> item of each product
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="pills-review"
                role="tabpanel"
                aria-labelledby="pills-review-tab"
              >
                <h2 class="title-text">
                  <span
                    class="material-symbols-outlined"
                    onclick="bootstrap.Tab.getOrCreateInstance('#pills-qty-tab').show()"
                  >
                    arrow_back
                  </span>
                  Your Products & Pricing
                </h2>
                <p class="text-muted text-small">
                  Your order includes a professional design review, a
                  satisfaction guarantee, and guaranteed on-time delivery.
                </p>
                <hr />
                <div class="delivery">
                  <img src="https://cdn.shopify.com/s/files/1/0082/8237/4203/files/truck.png?v=1670411233" alt="" width="20" height="20" />
                  &nbsp;
                  <strong>Free</strong> delivery as soon as
                  <span id="free-delivery"></span> or
                  <strong>Rush</strong> Delivery on
                  <span id="rush-delivery"></span>
                </div>
                <div class="products-list" id="products-list-review"></div>

                <div class="summary">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Your Total (<span id="total-items">0</span>
                        Items)
                      </strong>
                    </div>
                    <div class="col-6 text-end">
                      <strong>$<span id="total-price">0</span></strong>
                    </div>
                  </div>
                </div>

                <div class="affirm text-end">
                  <img src="https://ucarecdn.com/1ac9f4dd-d5ae-4341-9037-1920dd9c1478/-/format/auto/-/preview/3000x3000/-/quality/lighter/Afterpay_Badge_BlackonMint.png" alt="" height="20" />
                  Order Now Pay Later in Installments
                </div>

                <div class="buy-more">
                  <strong>Buy More Save More!</strong>
                  <div class="row">
                    <div class="col-6">
                      Buy <strong>1 More</strong> items and save $0.19 each
                    </div>
                    <div class="col-6 text-end">
                      <strong>$26.87</strong> each
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      Buy <strong>2 More</strong> items and save $0.50 each
                    </div>
                    <div class="col-6 text-end">
                      <strong>$26.56</strong> each
                    </div>
                  </div>
                </div>

                <button class="btn-next quote-add-to-cart">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <span>Add to Cart</span>
                  <span class="material-symbols-outlined"> arrow_forward </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>